:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --icoListItem__description: 13px;
    --icoListItem_favorite: #f7f4ea!important;
    --icoListItem: #ececef;
    --fontfamily: 'Open Sans';
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

body {
    line-height: 1.15!important;
    margin: 0;
    min-width: 320px;
    color: #444969;
    background: #f9f8f7;
    font-family: var(--fontfamily);
    padding-bottom: 295px;
    min-height: 100%;
    box-sizing: border-box;
    position: relative;
}

.blockCenter {
    text-align: center;
}

.btn {
    display: inline-block;
    vertical-align: top;
    height: 44px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #3b4c85;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    outline: 0;
    background: 0 0;
    line-height: 40px;
    padding: 0 25px;
    border-radius: 50px;
    border: 2px solid #3b4c85;
    font-family: 'Proxima Nova Bold', 'Open Sans', sans-serif;
    fill: #3b4c85;
}

.btn:hover {
    color: #6583ea;
    padding: 0 29px;
    border: 2px solid #6583ea;
    fill: #6583ea;
}

.btn .icon {
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-top: -2px;
    padding-right: 9px;
}

.b-icoList {
    padding-bottom: 35px;
}

.b-icoList_inner {
    margin-top: 0;
}

.b-icoList_inner .b-icoTop {
    border-bottom: 5px solid #ececef;
}

.icoListContent {
    margin-bottom: 35px;
}

.icoListItem {
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #707290;
    font-size: 14px;
    font-weight: 700;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    border: 2px solid #ececef;
    margin: 10px 0;
}

.icoListItem__info {
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-top: 5px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.icoListItem__img {
    margin-left: 20px;
    margin-right: 20px;
    -ms-flex-preferred-size: 50px;
    flex-basis: 50px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.icoListItem__img img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
}

.icoListItem__title {
    color: #454a69;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-bottom: 5px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-family: 'Proxima Nova Semibold', 'Open Sans', sans-serif;
    line-height: 22px;
}

.icoListItem__title:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 20px;
    width: 50px;
    height: 50px;
}

.icoListItem__title:hover {
    color: #4f6dd2;
}

.icoListItem__title sup,
sup {
    font-family: 'Proxima Nova Semibold', 'Open Sans', sans-serif;
    font-size: 9px;
    color: #fff;
    font-weight: 300;
    margin-left: 5px;
    background-color: #748bd9;
    padding: 2px 5px;
    border-radius: 4px;
    display: inline-block;
    line-height: 11px;
}

.icoListItem__title sup.sup_views,
sup.sup_views {
    background-color: rgba(190, 195, 212, 0.4);
    color: #454a69;
}

.icoListItem__title sup.sup_is_premium,
sup.sup_is_premium {
    background-color: #ffc46b;
    color: #fff;
}

.icoListItem__title sup.sup_email_confirmed,
sup.sup_email_confirmed {
    background-color: rgba(190, 195, 13, 0.4);
    color: #454a69;
}

.icoListItem__title sup.sup_is_premium,
sup.sup_is_premium {
    background-color: #ffc46b;
    color: #fff;
}

.icoListItem__title sup.sup_is_sto,
sup.sup_is_sto {
    background-color: #3650af;
    color: #fff;
}

.icoListItem__title sup.sup_is_airdrop,
sup.sup_is_airdrop {
    background-color: #95de93;
    color: #fff;
}

.icoListItem__description {
    color: #636682;
    font-size: var(--icoListItem__description);
    font-weight: 300;
    line-height: 18px;
    font-family: var(--fontfamily);
}

.icoListItem__end,
.icoListItem__raised,
.icoListItem__start,
.icoListItem__hard,
.icoListItem__recieved,
.icoListItem__country {
    -ms-flex-preferred-size: 110px;
    flex-basis: 110px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-align: center;
    font-family: var(--fontfamily);
    color: #454a69;
    font-weight: 300;
}

.icoListItem__rate {
    -ms-flex-preferred-size: 110px;
    flex-basis: 110px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-align: center;
    font-family: 'Proxima Nova Bold', 'Open Sans', sans-serif;
    color: #454a69;
}

.icoListItem_live .icoListItem__start,
.icoListItem_live .icoListItem__end,
.icoListItem_live .icoListItem__hard,
.icoListItem_live,
.icoListItem_live .icoListItem__recieved {
    -ms-flex-preferred-size: 140px;
    flex-basis: 140px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-align: center;
    font-family: 'Proxima Nova Bold', 'Open Sans', sans-serif;
    color: #454a69;
}

.icoListItem_live .icoListItem__start,
.icoListItem_live .icoListItem__end {
    font-family: var(--fontfamily);
    font-weight: 300;
}

.icoListItem__raised2 {
    -ms-flex-preferred-size: 240px;
    flex-basis: 240px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-align: center;
    font-family: 'Proxima Nova Bold', 'Open Sans', sans-serif;
    font-size: 28px;
    color: #454a69;
}

.icoListItem__rate[data-trade=trade] {
    color: #c4e456;
}

.icoListItem__rate {
    position: relative;
    width: 70px;
    height: 70px;
    line-height: 71px;
    padding-left: 2px;
}

.icoListItem__rate span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 70px;
    height: 70px;
}

.icoListItem__rate span:nth-child(2) {
    width: 68px;
    height: 68px;
}

.icoListItem__rate .circle-one {
    width: 90px;
    top: -24px;
}

.icoListItem_favorite {
    background-color: var( --icoListItem_favorite);
    border: 2px solid #f3e3cb;
}

.icoListItem_favorite .icoListItem__title {
    color: #454a69;
}

.icoListItem_favorite .icoListItem__title:hover {
    color: #f6c358;
}

.icoListItem_favorite .icoListItem__title:before {
    content: '';
    display: inline-block;
    vertical-align: top;
    background: url(../img/star.svg) center center no-repeat;
    background-size: 100% 100%;
    width: 18px;
    height: 18px;
    margin-right: 7px;
    margin-top: -1px;
    display: none;
}

.b-icoTop {
    margin-top: 10px;
    padding: 5px 0;
    border-bottom: 5px solid #ececef;
}

.icoTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.icoTop__selects {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.icoTop__filters {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%
}

.icoTop__filtersItem {
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: #444969;
    text-transform: uppercase;
    line-height: 22px;
    font-family: 'Proxima Nova Bold', 'Open Sans', sans-serif;
}

.icoTop__filters .filterItem {
    color: #52546a;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
}

.icoTop__filters .filterItem .icon {
    fill: #52546a;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    -webkit-transition: .2s;
    transition: .2s;
}

.icoTop__filters .filterItem__link {
    display: inline-block;
    vertical-align: top;
}

.icoTop__filters .filterItem__link:hover .icon {
    -webkit-transition: .2s;
    transition: .2s;
    fill: #7d7f96;
}

.icoTop select {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.icoTop .jq-selectbox {
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    height: 29px;
    line-height: 33px;
    outline: 0;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 5px 25px 5px 0;
    min-width: 140px;
    color: #444968;
    background: #fafafb;
    font-family: 'Proxima Nova Bold', 'Open Sans', sans-serif;
    box-shadow: rgba(0, 0, 0, .1) 0 3px 12px 0;
    width: 170px;
}

.icoTop .jq-selectbox__select-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.icoTop .jq-selectbox:hover {
    background: #fff;
    color: #6c7285;
}

.icoTop .jq-selectbox__select {
    padding: 0 30px 0 15px;
    text-align: left;
}

.icoTop .jq-selectbox__trigger {
    position: absolute;
    top: 50%;
    right: 8px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top: 6px solid #444969;
    border-bottom: none;
    margin-top: -2px;
}

.icoTop .jq-selectbox__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 140px!important;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    box-shadow: rgba(0, 0, 0, .1) 0 3px 12px 0;
    text-align: left;
    padding-bottom: 8px;
}

.icoTop .jq-selectbox__dropdown ul {
    padding: 0;
    margin: 0;
}

.icoTop .jq-selectbox__dropdown li {
    display: block;
    color: #9ca3b7;
    font-size: 15px;
    font-weight: 300;
    padding: 2px 15px;
    text-transform: none;
    cursor: pointer;
    font-family: var(--fontfamily);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 20px;
}

.icoTop .jq-selectbox__dropdown li:hover {
    color: #333;
}

.icoTop .jq-selectbox.opened {
    background: #fff;
    color: #6c7285;
    border-radius: 5px 5px 0 0;
}

.icoTop .jq-selectbox.opened .jq-selectbox__trigger {
    border-top-color: #6c7285;
}

.icoTop .icoTop__select_two .jq-selectbox__dropdown {
    border-radius: 0 0 5px 5px;
    width: 100%!important;
    overflow: hidden;
    max-height: 300px;
}

.icoTop__sort,
.icoTop__sort2 {
    -ms-flex-preferred-size: 110px;
    flex-basis: 110px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    text-align: center;
    color: #444969;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    margin-bottom: 10px;
    font-family: 'Proxima Nova Bold', 'Open Sans', sans-serif;
}

.icoTop__sort2 {
    -ms-flex-preferred-size: 220px;
    flex-basis: 220px;
}

.icoTop__sort:hover,
.icoTop__sort.selected {
    color: #6f8cef;
}

.icoTop__sort.active {
    color: #6f8cef;
}

.icoTop__sort[data-sort=sortUp] .icoTop__arrowUp {
    border-bottom-color: #6f8cef;
}

.icoTop__sort[data-sort=sortDown] .icoTop__arrowDown {
    border-top-color: #6f8cef;
}

.icoTop__arrow {
    display: inline-block;
    position: relative;
    height: 16px;
    width: 16px;
}

.icoTop__arrowUp {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom: 5px solid #444969;
    position: absolute;
    top: -1px;
    right: 0;
}

.icoTop__arrowDown {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top: 5px solid #444969;
    position: absolute;
    bottom: -6px;
    right: 0;
}

[data-position=up] {
    color: #329e4a;
}

[data-position=down] {
    color: #b34659;
}

.mobile,
.search-mob {
    display: none;
}

.circle-yellow,
.circle-lightgreen,
.circle-red,
.circle-green,
.circle-upcoming,
.circle-active,
.circle-ended,
.circle-presale_active,
.circle-presale_ended,
.circle-trading {
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: -3px;
}

.circle-yellow,
.circle-upcoming {
    background: #f3d545;
}

.circle-lightgreen,
.circle-active {
    background: #b8d64f;
}

.circle-presale_active {
    background: #4da6f5;
}

.circle-red,
.circle-ended {
    background: #c5647f;
}

.circle-presale_ended {
    background: #b26abb;
}

.circle-green,
.circle-trading {
    background: #309d4b;
}

.icoListItem:nth-child(2n) {
    background: var( --icoListItem);
    border-radius: 10px;
}

#filter-sort-styler,
#icos-filter-sort-styler,
#stats-filter-sort-styler,
#filter-sort-n-styler,
#filter-sort-t-styler {
    display: none;
}

.icoListItem_live:nth-child(2n) {
    background: none;
    border-radius: 0;
    margin-top: 15px;
}

.icoListItem_live .icoListItem__info {
    margin-top: 0;
}

.icoListItem_live .icoListItem__title {
    flex-grow: 0;
    margin-bottom: 0;
}

.icoListItem_live .icoListItem__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    color: #959ab5;
}

.icoListItem_vip .icoListItem__recieved,
.icoListItem_vip .icoListItem__collected,
.icoListItem_vip .progressBar-number {
    color: #03a9f4;
}

.icoListItem_vip .progressBar-line {
    background: #03a9f4;
}

.filter__switch {
    display: inline-block;
    vertical-align: top;
    width: 42px;
    height: 22px;
    background: #e8eaf1;
    border-radius: 25px;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
}

.filter__switch span {
    background: #fdfdfd;
    position: absolute;
    top: 3px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: left .25s;
}

.filter__switch.active {
    background: #71c764;
}

.filter__switch.active span {
    left: 22px;
}

.scroll-element {
    display: none;
}

.scroll-element,
.scroll-element div {
    box-sizing: content-box;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: pointer;
}

.scroll-element,
.scroll-element div {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%
}

.scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%
}

.scroll-element.scroll-y {
    height: 100%;
    right: 9px;
    top: 0;
    width: 5px;
}

.scroll-element .scroll-element_outer {
    overflow: hidden;
}

.scroll-element .scroll-element_outer,
.scroll-element .scroll-element_track,
.scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.scroll-element .scroll-element_track {
    background-color: transparent;
}

.scroll-element .scroll-bar {
    background-color: #e9e9ef;
}

.scroll-element:hover .scroll-bar {
    background-color: #e9e9ef;
}

.scroll-element.scroll-draggable .scroll-bar {
    background-color: #dadae2;
}

.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
    left: -12px;
}

.scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
    left: -12px;
}

.jq-selectbox__dropdown .scroll-content {
    max-height: 300px;
}

.icoListItem_funded .icoListItem__end {
    -ms-flex-preferred-size: 200px;
    flex-basis: 200px;
}

.icoListItem_funded .icoListItem__raised {
    font-family: 'Proxima Nova Black', 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 26px;
    color: #454a69;
    -ms-flex-preferred-size: 200px;
    flex-basis: 200px;
}

.icoListItem_funded .icoListItem__category {
    margin-top: 10px;
}

.icoListItem_funded .icoListItem__category span {
    font-family: 'Proxima Nova Black', 'Open Sans', sans-serif;
    font-size: 13px;
    color: #636682;
    font-weight: 900;
    margin-right: 5px;
}

.icoListItem_funded .icoListItem__category a {
    font-size: 13px;
    color: #636682;
    font-family: var(--fontfamily);
    font-weight: 400;
}

.icoListItem_funded .icoListItem__category a:hover {
    text-decoration: none;
}

@media (max-width:991px) and (min-width:940px) {
    .lookAlsoContent {
        flex-wrap: wrap;
        justify-content: start;
    }
}

.event-month {
    padding: 20px 0;
    width: 100%;
}

.event-month h4 {
    color: #28384b;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    overflow: hidden;
    text-align: center;
}

.event-month h4:before {
    margin-left: -50%;
    right: .5em;
}

.event-month h4:after,
.event-month h4:before {
    background-color: #34495e;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.event-month h4:after {
    left: .5em;
    margin-right: -50%;
}

.event-month h4:after,
.event-month h4:before {
    background-color: #34495e;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.last-event-top-date {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    line-height: normal;
    position: absolute;
    width: 90px;
    height: 90px;
    text-align: center;
}

p:last-child {
    margin-bottom: 0;
}

p {
    font-size: 1.1rem;
    line-height: 1.5rem;
    margin: 0 0 15px;
}

.last-event-top-date span {
    font-size: 24px;
    font-weight: 700;
}

a.item.event-item.event-near-item {
    text-decoration: none;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgb(210 224 233 / 30%);
    display: block;
    transition: -webkit-box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
    /* width: 345px; */
}

a.item:hover {
    box-shadow: 0 4px 20px #cddbe4;
    cursor: pointer;
}

a.item.event-item {
    display: block;
    margin-bottom: 20px;
    padding: 0;
}

.event-item>div:first-of-type {
    color: #34495e;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.last-event-top {
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: inset 0 0 0 1000px rgb(52 73 94 / 62%);
    height: 180px;
    position: relative;
    transition: box-shadow .25s ease-in-out, -webkit-box-shadow .25s ease-in-out;
}

.last-event-bottom {
    background: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.last-event-bottom-head {
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    justify-content: start;
    overflow: hidden;
    padding: 10px;
}

.last-event-bottom-head .event-icon {
    height: 60px;
    min-width: 60px;
}

.items .item.event-item .pic,
.last-event-bottom-head .event-icon {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.last-event-bottom-head .data-wp {
    text-align: left;
}

.last-event-bottom-head div {
    margin-left: 10px;
}

.event-item .event-name {
    color: #28384b;
    font-size: 16px;
    font-weight: 400;
    max-height: 55px;
    overflow: hidden;
    padding-top: 10px;
}

.event-item .event-name h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
}

h2,
h3 {
    margin-bottom: .9rem;
}

.event-item .event-loc {
    color: #28384b;
    font-size: 13px;
    font-weight: 400;
    padding-top: 10px;
}

.items .event-item .event-loc>i {
    padding-right: 5px;
}

.last-event-bottom-bottom {
    color: #17af5b;
    padding: 10px;
}

.last-event-bottom-bottom ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 10px;
}

.last-event-bottom-bottom ul li {
    list-style: none;
    text-align: center;
    font-size: 12px;
}

.event-grey {
    color: #34495e;
    opacity: .2;
}

.event-yellow {
    color: #e2cb27;
}

.event-item :hover {
    box-shadow: none;
}


/*  
*/

.search-event {
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgb(210 224 233 / 30%);
    color: #34495e;
    max-height: 30px;
    width: 136px;
    border-radius: 0px;
}

.form-control:focus {
    background-color: #fff;
    box-shadow: none;
}

.switch-button {
    margin-top: 0;
    align-items: center;
}

.switch-button {
    align-items: self-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    height: 30px;
}

.event-list-filter-by-form-lable {
    color: #34495e;
    height: 30px;
    justify-content: center;
    mix-blend-mode: normal;
    opacity: .5;
    text-align: center;
    width: 80px;
}

.event-list-filter-by-form .checkbox {
    margin: 3px 0;
}

.checkbox,
.radio {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
}

.checkbox label,
.radio label {
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 0;
    min-height: 20px;
    padding-left: 20px;
}

.switch {
    margin: 3px 0;
    max-height: 23px;
    position: relative;
    width: 44px;
}

.event-list-filter-by-form .filter-form input {
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgb(210 224 233 / 30%);
    display: block;
    font-size: 14px;
    height: 40px;
    padding: 10px 20px;
    transition: -webkit-box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
    width: 100%;
}

.checkbox-inline input[type=checkbox],
.checkbox input[type=checkbox],
.radio-inline input[type=radio],
.radio input[type=radio] {
    /* margin-left: -20px; */
    margin-top: 4px\9;
    position: absolute;
}

input:checked+.slider {
    background-color: #35c78d;
}

.slider.round {
    border-radius: 15px;
    width: 45px;
}

.slider,
.slider:before {
    -webkit-transition: .4s;
    position: absolute;
    -o-transition: .4s;
    transition: .4s;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    right: 0;
    top: -3px;
}

input:checked+.slider:before {
    transform: translateX(20.85px);
}

.slider.round:before {
    border-radius: 50%;
}

.slider:before {
    background-color: #fff;
    content: "";
    height: 19px;
    left: 1.85px;
    top: 1.85px;
    width: 20px;
}

.slider,
.slider:before {
    position: absolute;
    transition: .4s;
}

button.btn-filters {
    display: none;
}

.form-inline .form-control {
    color: #34495e;
    opacity: .5;
}

.lookAlso {
    background: linear-gradient(180deg, #edeff4, #f9f8f7);
    padding-top: 35px;
    padding-bottom: 30px;
    margin: 40px 0 0;
}

.lookAlsoTitle {
    color: #444969;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    font-family: "Proxima Nova Black", "Open Sans", sans-serif;
}

.lookAlsoContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

.lookAlsoItem {
    border: 5px solid #fff;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    flex-basis: 330px;
    margin: 0 13px 25px;
    text-decoration: none;
    border-radius: 5px;
}

.lookAlsoItem_favorite .lookAlsoItem__title {
    color: #d0a145;
}

.lookAlsoItem_favorite {
    border: 5px solid #f3e8d0;
}

.lookAlsoItem_favorite:hover {
    background: #f3e8d0 !important;
}

.lookAlsoItem_favorite .lookAlsoItem__title:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    background: url(../img/star.svg) center center no-repeat;
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
    margin-right: 7px;
}

.lookAlsoItem:hover {
    background: #fff;
}

.lookAlsoItem__left {
    -ms-flex-preferred-size: 75px;
    flex-basis: 75px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 15px;
}

.lookAlsoItem__right {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.lookAlsoItem__img {
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
}

.lookAlsoItem__img img {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 50px;
}

.lookAlsoItem__rating {
    color: #707290;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
}

.lookAlsoItem__rating span {
    font-weight: 700;
}

.lookAlsoItem__title {
    color: #454a69;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 6px;
    text-transform: uppercase;
    font-family: "Proxima Nova Semibold", "Open Sans", sans-serif;
}

.lookAlsoItem__text {
    color: #949abb;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    overflow: hidden;
    max-height: 76px;
    font-family: "Proxima Nova", "Open Sans", sans-serif;
}

.swimm-panel-bottom {
    min-height: 77px;
    background: #eceef3;
}

.swimm-panel-bottom .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.swimm-panel .company-h1 {
    text-align: left;
    min-width: 270px;
    margin-right: 10px;
}

.swimm-panel .company-h1__top {
    background: none;
    padding: 0;
    font-size: inherit;
    display: block;
    position: relative;
    padding-left: 77px;
}

.company-h1__top_yellow {
    color: #f0d782;
}

.swimm-panel .company-h1__img {
    width: 77px;
    height: 77px;
    position: absolute;
    top: 0;
    left: 0;
}

.company-h1__img {
    border-radius: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    /* margin-top: 10px; */
}

.company-h1__img img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    border: 4px solid #edeff4;
}

.swimm-panel .company-h1__img img {
    border: none;
    border-radius: 0;
}

.swimm-panel .company-h1 h1 {
    font-size: 36px;
    margin: 2px 0 0;
    margin-left: 15px;
    text-align: left;
    /* margin-top: 14px; */
}

.company-h1 h1 {
    font-weight: 700;
    display: inline-block;
    font-family: 'Proxima Nova Bold', 'Open Sans', sans-serif;
}

.companyTitle_favorite {
    color: #f6c358!important;
}

.company-h1__top .ico-active {
    text-align: left;
    font-size: 13px;
    color: #747794;
    margin-top: 5px;
    margin-left: 15px;
    font-family: "Proxima Nova Semibold", 'Open Sans', sans-serif;
    margin-bottom: 5px;
}

.comment-views {
    color: #747794;
    font-size: 13px;
    display: inline;
    margin-left: 5px;
}

.ico-active:before {
    content: '';
    width: 10px;
    height: 10px;
    background: #b8d64f;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -2px;
}

.swimm-panel-bottom__links {
    margin-left: auto;
}

.comment-views i {
    margin-right: 5px;
}

.swimm-panel-bottom__links .visitSite {
    margin-right: 10px;
    border-radius: 25px;
    padding: 0 20px;
    line-height: 35px;
    border: 2px solid #3b4c85;
    display: inline-block;
    text-decoration: none;
    color: #f3f5fc;
    background: #3b4c85;
    font-family: 'Proxima Nova Semibold', 'Open Sans', sans-serif;
}

.swimm-panel-bottom__links .visitSite svg {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    fill: #f3f5fc;
}

.add-bookmark {
    padding: 0 20px;
    line-height: 34px;
    height: 34px;
    border: 2px solid #71c764;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    color: #71c764;
    display: inline-block;
    float: none;
    margin-bottom: -15px;
    position: relative;
    z-index: 1;
    font-family: 'Proxima Nova Semibold', 'Open Sans', sans-serif;
}

.swimm-panel .add-bookmark .icon {
    fill: #71c764;
}

.add-bookmark .icon {
    width: 16px;
    height: 16px;
    fill: #71c764;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.add-bookmark:hover {
    background: #71c764;
    color: #fff;
}

a:hover {
    text-decoration: none;
}


/* Footer */

footer {
    background: #fff;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footerBottom-block {
    background: #3b4c86;
}

.footerBottom {
    display: flex;
    align-items: center;
    height: 65px;
}

.footerLogo {
    color: #fff;
    font-size: 28px;
    font-weight: 300;
    text-decoration: none;
}

.footerLogo .icon {
    width: 150px;
    height: 30px;
    fill: #fff;
}

.copir {
    color: #bec3d6;
    font-size: 16px;
    font-weight: 300;
    line-height: 34px;
    margin: 0 22px;
    flex-grow: 1;
}

.social {
    flex-shrink: 0;
}

.social__link {
    width: 26px;
    margin-left: 13px;
    display: inline-block;
    position: relative;
    text-align: center;
}

.social i {
    width: 16px;
    height: 16px;
    color: #e1e3ea;
}

.footerTop {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.footerItem__title {
    color: #535d7d;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 5px;
    font-family: 'Proxima Nova Bold', 'Open Sans', sans-serif;
}

.footerItem__list {
    padding: 0;
    margin: 0;
    font-size: 0;
}

.footerItem__list--block li {
    display: block;
}

.footerItem__list li {
    padding-left: 0;
    white-space: nowrap;
    width: 20%;
    height: 28px;
}

.footerItem__link {
    color: #82889c;
    font-size: 15px;
    font-weight: 300;
    line-height: 34px;
    text-decoration: none;
    text-decoration: none;
    font-family: var(--fontfamily);
}

.footer-subscribe {
    max-width: 350px;
}

.footer-subscribe__title {
    font-family: 'Proxima Nova Black', 'Open Sans', sans-serif;
    font-size: 22px;
    color: #445fbb;
    font-weight: 900;
    margin-bottom: 8px;
}

.footer-subscribe__text {
    font-family: var(--fontfamily);
    font-size: 15px;
    color: #82889c;
    line-height: 22px;
    margin-bottom: 15px;
}

.sp-form,
.sp-form-outer {
    max-width: 100%;
}

.sp-form-fields-wrapper .sp-form-control {
    background: rgba(233, 233, 236, 1);
    border-color: rgba(233, 233, 236, 1);
    border-style: solid;
    border-width: 1px;
    font-size: 15px;
    padding-left: 8.75px;
    padding-right: 8.75px;
    border-radius: 25px;
    height: 33px;
    width: 60%;
    margin-right: 20px;
}

.btn-theme {
    border-radius: 25px;
    background-color: rgba(95, 129, 246, 1);
    color: #ffffff;
    width: auto;
    font-weight: 700;
    font-style: normal;
    font-family: inherit;
    box-shadow: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 32px;
    padding: 0 25px;
    border: 0px;
}

.footerItem__title_margin {
    margin-top: 10px;
}

.bottomBanner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100vw * 84/1920);
    background: url('https://icomarks.com/assets/img/bottom(1920%D1%8584).png') center center no-repeat;
    background-size: contain;
    background-color: black;
    z-index: 100;
}


/* Header */

.topBanner2 {
    height: calc(100vw * 84/1920);
    background: url('https://icomarks.com/assets/img/bottom(1920%D1%8584).png') center center no-repeat;
    background-size: auto;
    background-size: contain;
    background-color: black;
}

.header-stats-bg {
    background: #32406f;
}

.header-stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.header-stats-left {
    display: flex;
    align-items: center;
}

.header-stats__item {
    margin-right: 15px;
    font-family: 'Proxima Nova Light', 'Open Sans', sans-serif;
    font-size: 12px;
    color: #97a9e3;
    font-weight: 300;
}

.header-stats__item strong {
    font-family: 'Proxima Nova Black', 'Open Sans', sans-serif;
    font-weight: 900;
}

.header-stats__item span {
    position: relative;
    padding-left: 15px;
}

.header-stats__item span:before {
    content: '';
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-bottom-color: #329e4a;
    position: absolute;
    top: 0;
    left: 3px;
}

.header-stats-right a {
    text-decoration: none;
    font-family: 'Proxima Nova Light', 'Open Sans', sans-serif;
    font-size: 13px;
    color: #c9d3f1;
    font-weight: 300;
    margin-left: 0;
    -webkit-transition: .2s;
    transition: .2s;
}

.headerMain {
    position: relative;
    padding-bottom: 5px;
    background: #3b4c86;
}

.headerMain:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3b4c86;
    z-index: -1;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

.gambHidden {
    top: calc(100vw * 84/1920 + 80px);
}

.mobile,
.search-mob,
.icoListItem__categories_mobile {
    display: none;
}

.logo {
    color: #fff;
    font-size: 36px;
    font-weight: 300;
    text-decoration: none;
}

.menu {
    flex-grow: 1;
}

.menu li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.menu__link {
    color: #c8cce0;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transition: none;
    font-family: 'Proxima Nova bold', 'Open Sans', sans-serif;
    border-bottom: 1px solid #54649a;
    padding: 0;
}

.headerInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.favoriteLink {
    color: #c8cce0;
    font-family: "Proxima Nova bold", 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    text-decoration: none;
}

.favoriteLink i {
    margin-left: 5px;
}

.favoriteLink i {
    width: 18px;
    height: 18px;
    fill: #c8cce0;
    margin-top: 3px;
    transition: none;
}

.search {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.search__input {
    font-family: 'Proxima Nova Light', 'Open Sans', sans-serif;
    border: 1px solid #32406f;
    height: 34px;
    line-height: 29px;
    padding: 0 40px 0 20px;
    color: #8287af;
    font-size: 18px;
    font-weight: 300;
    background: 0 0;
    border-radius: 50px;
    outline: 0;
    width: 100%;
    box-sizing: border-box;
    background: #32406f;
}

.search__btn {
    background: 0 0;
    border: none;
    position: absolute;
    top: 1px;
    right: 6px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    outline: 0;
    cursor: pointer;
}

.headerMain .container {
    position: relative;
    z-index: 99;
}

.menu__link:hover {
    color: #eceef3;
    border-bottom: none;
}

.search__btn i {
    width: 16px;
    height: 16px;
    color: #8287af;
}


/* Singlle Icos */

.topContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0;
}

.topContentLeft {
    width: -webkit-calc(100% - 330px);
    width: calc(100% - 330px);
    box-sizing: border-box;
}

.companyDescription {
    margin-bottom: 20px;
}

.companyDescription .company-description {
    padding-top: 0;
    margin-bottom: 0;
    display: inline-block;
    height: 60px;
    overflow: hidden;
}

.company-description {
    font-size: 17px;
    color: #5a6179;
    line-height: 20px;
    margin-bottom: 15px;
    font-weight: 300;
    font-family: var(--fontfamily);
    padding-top: 20px;
}

.companyDescription a {
    font-family: var(--fontfamily);
    font-size: 17px;
    color: #4b63b3;
}

.companyVideo-container {
    width: 90%;
    margin: 0 auto;
}

.companyVideo {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
}

.companyVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.topContent .company-category-links {
    margin-bottom: 0;
}

.company-category-links {
    text-align: center;
    font-size: 0;
    margin-bottom: 25px;
}

.company-category-links a {
    display: inline-block;
    vertical-align: top;
    padding: 0 12px;
    line-height: 18px;
    border-radius: 20px;
    color: #6e7690;
    font-size: 12px;
    margin: 0 10px 10px;
    text-decoration: none;
    background: #e3e6ec;
    font-family: var(--fontfamily);
    text-transform: uppercase;
}

.topContentRightWrap {
    margin-left: 30px;
    width: 300px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.topContentRight {
    border: 3px solid #eceef3;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
}

.topContent .ico-rating-content {
    margin-bottom: 0;
}

.ico-rating-content {
    text-align: center;
    margin-bottom: 100px;
}

.ico-rating-overall {
    font-size: 70px;
    display: inline-block;
    font-family: 'Proxima Nova Black', 'Open Sans', sans-serif;
    margin-bottom: 10px;
    padding: 10px 0;
    background: #f3f4f7;
    border-radius: 10px;
    width: 100%;
    border-bottom: 3px solid #eceef3;
}

.ico-rating__title,
.icon-help:hover {
    fill: #535671;
}

.ico-rating__title .icon-help {
    width: 14px;
    height: 14px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    fill: #979abb;
    margin-top: -5px;
}

.ico-rating__contentDop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 25px;
}

.ico-rating__contentDop .ico-rating__item {
    width: 50%;
}

.ico-rating__circle {
    width: 90px;
    margin: 0 auto;
    line-height: 94px;
    position: relative;
    color: #626584;
    font-family: 'Proxima Nova Bold', 'Open Sans', sans-serif;
    font-size: 16px;
}

.ico-rating__circle .circle-one {
    width: 130%;
    top: -15%;
    left: -15%;
}

.ico-rating__circle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.ico-rating__title {
    font-weight: 900;
    font-size: 12px;
    color: #979abb;
    font-family: 'Proxima Nova Bold', 'Open Sans', sans-serif;
}

.ico-rating__title,
.icon-help:hover {
    fill: #535671;
}

.ico-rating__title p {
    margin: 2px 0;
    font-size: 10px;
    color: #979abb;
    font-family: var(--fontfamily);
}

.getWidget {
    font-family: 'Proxima Nova Light', 'Open Sans', sans-serif;
    font-size: 14px;
    color: #626584;
    text-decoration: none;
    border-bottom: 1px dotted #626584;
}

.banner-telegram img {
    display: block;
    width: 100%;
}

.swimm-menu {
    padding: 0;
    margin: 0;
    box-shadow: inset #ebedf2 0 -3px 0 0;
    margin-bottom: 30px;
    overflow: auto;
    white-space: nowrap;
    min-height: 48px;
}

.swimm-menu li {
    display: inline-block;
    vertical-align: bottom;
    height: 48px;
}

.swimm-menu li a.active {
    color: #2b2f47;
    border-bottom-color: #2b2f47;
}

.swimm-menu li a {
    font-weight: 800;
    padding: 0 15px;
    font-size: 18px;
    color: #babccd;
    font-family: "Proxima Nova Bold", 'Open Sans', sans-serif;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    display: block;
    margin-bottom: -3px;
    display: inline-block;
    line-height: 45px;
}

.swimm-menu li a sup {
    font-family: 'Proxima Nova Light', 'Open Sans', sans-serif;
    font-size: 10px;
    color: #53b97c;
    font-weight: 300;
    margin-left: 5px;
    background-color: transparent;
}

.swimm-menu li a:hover,
.swimm-menu li a.active {
    color: #2b2f47;
    border-bottom-color: #2b2f47;
}


/* tabs */

.companyTab.active {
    opacity: 1;
    height: auto;
    overflow: visible;
}

.companyTab {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 1s;
}

.icoinfo {
    display: flex;
    justify-content: space-between;
}

.icoinfo-left {
    width: 48%;
}

.icoinfo-block {
    margin-bottom: 25px;
}

.icoinfo-block__title {
    font-family: 'Proxima Nova Bold', 'Open Sans', sans-serif;
    font-size: 20px;
    color: #3b4c86;
    font-weight: 700;
    margin-bottom: 15px;
    padding: 8px 0;
    padding-left: 18px;
    border-bottom: 3px solid #eceef3;
    border-radius: 10px;
    background: #f3f4f7;
}

.icoinfo-block__item {
    margin-bottom: 15px;
    font-size: 16px;
    color: #444968;
    display: flex;
    padding: 0 25px;
}

.icoinfo-block__item span {
    font-family: 'Proxima Nova Bold', 'Open Sans', sans-serif;
    font-size: 16px;
    color: #444968;
    font-weight: 700;
    display: block;
    width: 170px;
    flex-shrink: 0;
}

.icoinfo-block__view {
    font-size: 16px;
    color: #3854b2;
    text-decoration: none;
}

.icoinfo-block__view i {
    width: 13px;
    height: 13px;
    margin-right: 5px;
    margin-bottom: -1px;
}

.icoinfo-block__read {
    font-size: 16px;
    color: #e14b3f;
    text-decoration: none;
}

.icoinfo-block__read i {
    color: #e14b3f;
    width: 13px;
    height: 13px;
    margin-right: 5px;
}

.icoinfo-block__view i {
    width: 13px;
    height: 13px;
    margin-right: 5px;
    margin-bottom: -1px;
}

.my-class {
    text-align: center;
}

.all-icos {
    font-size: 22px;
    color: #3b4c86;
    text-decoration: none;
    line-height: 36px;
    padding: 10px 25px;
    border-radius: 100px;
    text-transform: uppercase;
    font-family: 'Proxima Nova Bold', 'Open Sans', sans-serif;
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid #3b4c86;
    text-align: center;
    margin: 40px 0 0;
    fill: #3b4c86;
}


/* Form */

.form-field label {
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
}

.form-field p {
    color: #666;
    font-size: 12px;
    margin: 5px 0;
    text-align: justify;
}

.button {
    cursor: pointer;
    background-color: #0072EF;
    border: 0;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.72;
    min-width: 190px;
    padding: 0 1.9286em;
    width: 100%;
}
